.talk {
  background-color: #1b1e2a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 20vh 0;

  background-color: #1b1e2a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2325293a' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23383e56' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23242838' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%233e455f' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23232736' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23444b69' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23212535' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234a5273' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23202433' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2351597d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%231f2331' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23576087' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.talkTag {
  letter-spacing: 0.2em;
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 1.25em;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.talkLink {
  /* margin-top: 0.5em; */
  padding: 1rem 4rem;
  background-color: white;
  color: #1b1e2a;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: medium;
  border-radius: 15px;
  width: fit-content;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  animation: projectHoverOut 0.5s forwards ease-out;
}

.talkLink h5 {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.talkLink:hover {
  animation: projectHover 0.5s forwards ease-out;
}

@keyframes projectHover {
  from {
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
    scale: 1;
  }
  to {
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.35);
    scale: 1.05;
  }
}
@keyframes projectHoverOut {
  from {
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.35);
    scale: 1.05;
  }
  to {
    scale: 1;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
  }
}

@media only screen and (max-width: 600px) {
  .talk {
    padding: 30vh 0;
  }
}
