.skillSet {
  padding: 2em 0;
}

.skillSetTitle {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.skillSetTitle svg {
  margin-right: 0.25em;
  color: rgb(39, 163, 147);
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 7fr;
  column-gap: 4em;
  align-items: baseline;
  justify-content: start;
  /* width: 100%; */
}

.gridContainer svg {
  margin-right: 0.25em;
  color: rgb(39, 163, 147);
  font-size: large;
}

.skillTitle {
  font-size: larger;
  text-transform: capitalize;
  font-weight: 500;
}

.skillInfo {
  font-weight: 400;
  font-size: medium;
  max-width: 90vw;
  animation: safariOverflowFix 1s forwards;
}
@media only screen and (max-width: 600px) {
  .gridContainer {
    display: block;
  }
  .skillInfo {
    max-width: unset;
    animation: none;
  }
}

@keyframes safariOverflowFix {
  from {
    max-width: 1vw;
  }
  to {
    max-width: 90vw;
  }
}
